
S3method(logLik,grGMC)
export(BIC_grGMC)
export(eBIC_grGMC)
export(df_grGMC)
export(grGMC)
export(select_grGMC)
export(plot_grGMC)
export(bic_grGMC)
import("graphics")
import("grDevices")
import("stats")
import("utils")
import("grpreg")
import("Matrix")
useDynLib(grGMC, .registration=TRUE)
